= render ThingCardComponent.new do |c|
  - c.with_label do
    = "#{@domain.name} Domain"
  %p{style: "color: green"}= notice

  = render @domain

  %div
    = link_to "Edit this domain", edit_domain_path(@domain)
    |
    = link_to "Back to domains", domains_path

    = button_to "Destroy this domain", @domain, method: :delete

  %h2 Add schema

  = form_with model: [@domain, @document], url: domain_schemas_path(@domain) do |f|
    = f.label :key, "New schema name"
    = f.text_field :key, autofocus: true
    = f.submit "Create"

= render "domains/open_drafts"

= render "domains/schemas"
