- if notice.present?
  %p{ style: "color: green" }= notice

%p
  %strong Name:
  = @room.name

%div
  = link_to "Edit", edit_room_path(@room)
  %span= " | "
  = link_to "Back", rooms_path

#messages
  = render @room.messages

= button_to "Destroy this room", @room, method: :delete
= link_to "New message", new_room_message_path(@room)
