= render ThingCardComponent.new do |c|
  - c.with_label do
    = "#{@domain.name} / #{@document.key}"

  = render ButtonComponent.new( tone: :primary, type: :submit, form: "draft-form", formaction: publish_domain_document_draft_path(@domain, @document, @draft), data: { turbo_frame: "_top" }) do
    Commit

  is_schema:
  = @draft.is_json_schema?

  .grid{ style: "display:grid; grid-template-columns: 320px 1fr; gap: 16px;" }
    = turbo_frame_tag "ribbon" do
      = render "ribbon",
        domain: @domain,
        document: @document,
        draft: @draft,
        ptr: @ptr,
        mode: @mode

    = turbo_frame_tag "editor" do
      = render "editor",
        domain: @domain,
        document: @document,
        draft: @draft,
        ptr: @ptr,
        mode: @mode
