!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title= content_for(:title) || "Datawires"
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    %meta{:content => "yes", :name => "apple-mobile-web-app-capable"}/
    %meta{:content => "Datawires", :name => "application-name"}/
    %meta{:content => "yes", :name => "mobile-web-app-capable"}/
    = csrf_meta_tags
    = csp_meta_tag
    = yield :head
    %link{:href => "/icon.png", :rel => "icon", :type => "image/png"}/
    %link{:href => "/icon.svg", :rel => "icon", :type => "image/svg+xml"}/
    %link{:href => "/icon.png", :rel => "apple-touch-icon"}/
    = stylesheet_link_tag :app
    = javascript_importmap_tags
  %body.bg-ls5-yellow-6
    - if Rails.env.development?
      .w-full.bg-yellow-500.text-black.text-center.text-sm.font-semibold.py-1
        🚧 DATAWIRES UNDER CONSTRUCTION 🚧
    = link_to "Domains", "/domains"
    %main.bg-ls5-green-3.rounded-xl.shadow.p-6.ls5-blue-6
      = render SplitOneFourOneComponent.new do |c|
        - c.with_one do
          Left slot content

        - c.with_two do
          = render "shared/flash"
          = yield

        - c.with_six do
          Right slot content

