!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title= content_for(:title) || "Datawires"
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    %meta{:content => "yes", :name => "apple-mobile-web-app-capable"}/
    %meta{:content => "Datawires", :name => "application-name"}/
    %meta{:content => "yes", :name => "mobile-web-app-capable"}/
    = csrf_meta_tags
    = csp_meta_tag
    = yield :head
    %link{:href => "/icon.png", :rel => "icon", :type => "image/png"}/
    %link{:href => "/icon.svg", :rel => "icon", :type => "image/svg+xml"}/
    %link{:href => "/icon.png", :rel => "apple-touch-icon"}/
    = stylesheet_link_tag :app
    = javascript_importmap_tags
  %body.bg-background.text-foreground
    - if Rails.env.development?
      .w-full.border-b-2.border-black.bg-secondary.px-3.py-1.text-center.text-sm.font-semibold.text-secondary-foreground
        DATAWIRES UNDER CONSTRUCTION
    %header.mx-auto.flex.max-w-7xl.items-center.justify-between.px-6.py-4
      = link_to "Datawires", "/domains", class: "font-head text-xl font-medium text-foreground"
      = link_to "Domains", "/domains", class: "font-head rounded border-2 border-black bg-primary px-3 py-1 text-sm text-primary-foreground shadow-sm hover:shadow-none"
    %main.mx-auto.grid.max-w-7xl.grid-cols-1.gap-4.px-6.pb-8.lg:grid-cols-6
      .lg:col-span-4.lg:col-start-2
        = render "shared/flash"
        = yield
