!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title= content_for(:title) || "Datawires"
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    %meta{:content => "yes", :name => "apple-mobile-web-app-capable"}/
    %meta{:content => "Datawires", :name => "application-name"}/
    %meta{:content => "yes", :name => "mobile-web-app-capable"}/
    = csrf_meta_tags
    = csp_meta_tag
    = yield :head
    %link{:href => "/icon.png", :rel => "icon", :type => "image/png"}/
    %link{:href => "/icon.svg", :rel => "icon", :type => "image/svg+xml"}/
    %link{:href => "/icon.png", :rel => "apple-touch-icon"}/
    = stylesheet_link_tag :app
    = javascript_importmap_tags


  %body.bg-ls5-yellow-6
    This is where schemas, fields, and questionable decisions live.
    = render SplitOneFourOneComponent.new do |c|
      - c.with_one do
        Left slot content

      - c.with_two do
        = render ThingCardComponent.new do |c|
          - c.with_label do
            Rooms
          Middle slot content

          .bg-ls5-red-7.p-6.text-2xl.font-bold.rounded-xl.ls5-violet-2
            RED CHECK
          = render ButtonComponent.new(tone: :warning) do
            warning
          = render ButtonComponent.new(tone: :primary) do
            primary
          = render ButtonComponent.new(tone: :danger) do
            danger
          = render ButtonComponent.new(tone: :subtle) do
            subtle

          = render FieldComponent.new(name: "room_name", label: "Name", hint: "Shown to other systems", state: :normal, errors: @room.errors[:name]) do
            = text_field_tag :name, @room.name, class: "w-full rounded border border-ls5-blue-3 p-2 bg-ink-inverse text-ink", aria: { invalid: "false" }

      - c.with_six do
        Right slot content


    %main.bg-ls5-green-3.rounded-xl.shadow.p-6.ls5-blue-6
      = yield
